@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
background-color: black;
}
.btn {
  background-color: #333333;
  border: none;
  color: blue;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.btn1 {
    float: right;
    background-color: #333333;
    border: none;
    color: blue;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
.btn2 {
    float: right;
    background-color: #333333;
    border: none;
    color: blue;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
  a {
    text-decoration: none;
    color: inherit;
    cursor: default;
  }
.play-to-create1{
    font-size: 30px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: silver;
}